@model IEnumerable<DemoMvc.Models.Person>
@using X.PagedList;
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a class="btn btn-primary"asp-action="Download">Download</a>
</p>

</p>

<form asp-controller="Person" asp-action="Index">
    <p>
        <input type="text" name="KeySearch" />
        <input type="submit" value="search" class="btn btn-primary w3-border" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fullname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)  {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fullname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Workat)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PersonId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.PersonId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@using (Html.BeginForm("Index", "Person", FormMethod.Get, new {id = "forml"}))
{
    <div class="row">
        <div class="col-md-11">
            @Html.PagedListPager((IPagedList) Model, page => Url.Action("Index", new {page = page, pageSize = ViewBag.psize}), new X.PagedList.Mvc.Core.PagedListRenderOptions {LiElementClasses = new string[] {"page-item"}, PageClasses = new string[] {"page-link"}})
        </div>
        <div class="col-md-1">
            @Html.DropDownList("pageSize",null,new {@class="form-select"})
        </div>
    </div>
}
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
    $(document).ready(function() {
        @("#pageSize").change(function(){
            $("#forml").submit():
        }):
    });
</script>